@using EntityLayer.Concrete
@model List<Carikart>
@{
	ViewData["Title"] = "CariListe";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<h5 class="card-header">Cari Tablosu</h5>
	<div class="table-responsive text-nowrap">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Sıra No</th>
					<th>Ad Soyad</th>
					<th>Telefon</th>
					<th>Referans</th>
					<th>Tarih</th>
					<th>Açıklama</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td><strong>@item.AdSoyad</strong></td>
						<td>@item.Telefon</td>
						<td>@item.Referans</td>
						<td> @item.Tarih.ToString("dd/MM/yyyy")</td>
						<td>@item.Aciklama</td>

						<td><a href="/Cari/CariKurbanEkle/@item.Id" class="btn btn-dark">Hisse Ekle</a></td>
						<td><a href="/Cari/CariDetay/@item.Id" class="btn btn-dark">Kurbanlıklar</a></td>
						<td><a href="/Cari/CariIslem/@item.Id" class="btn btn-info">İşlemler</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>




