@using EntityLayer.Concrete
@model CariStokModel
@{
	ViewData["Title"] = "KurbanlikListe";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<h5 class="card-header">Kurbanlık Tablosu</h5>
	<div class="table-responsive text-nowrap">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Kurbanlık No</th>
					<th>Ad</th>
					<th>Hisse Adet</th>
					<th>Hisse Fiyat</th>
					<th>Hissedarlar</th>
					<th>Küpe No</th>
					<th>Kilo</th>
					<th>Yaş</th>
					<th>Cins</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				@foreach (var item in Model.Stoks)
				{
					<tr>
						<td>@item.Id</td>
						<td><strong>@item.Ad</strong></td>
						<td>@Model.Hissecarikarts.Where(c=>c.StokId == item.Id).ToList().Count()/ @item.HisseAdet</td>
						<td>@item.HisseFiyat.ToString("0.##") TL</td>
						<td>
							<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
								@foreach (var cari in Model.Hissecarikarts.Where(c => c.StokId == item.Id))
								{
									<li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="@Model.Carikarts.Where(c=>c.Id == cari.CariKartId).FirstOrDefault().AdSoyad">
										<img src="~/kurban/assets/img/avatars/avatar.png" alt="Avatar" class="rounded-circle" />
									</li>
								}
							</ul>
						</td>
						<td>@item.KupeNo</td>
						<td>@item.Kilo.ToString("0.##") KG</td>
						<td>@item.Yas</td>
						<td>@item.Cins</td>
						<td><a href="/Kurbanlik/KurbanlikDetay/@item.Id" class="btn btn-dark" style="color:white">Hissedarlar</a></td>
						<td><a href="/Kurbanlik/KurbanlikGuncelle/@item.Id" class="btn btn-warning">Düzenle</a></td>
						<td><a href="/Kurbanlik/KurbanlikSil/@item.Id" class="btn btn-danger">Sil</a></td>


					</tr>
				}
			</tbody>

		</table>
	</div>
</div>

