@using EntityLayer.Concrete
@model CariStokModel
@{
	ViewData["Title"] = "KurbanlikDetay";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<h5 class="card-header">Hissedarlar</h5>
	<div class="card-body">
		<div class="table-responsive text-nowrap">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Hisse No</th>
						<th>Ad Soyad</th>
						<th>Telefon</th>
						<th>Düşen Hisse</th>
						<th>Borç</th>
						<th>Ödenen</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Hissecarikarts)
					{
						var cariKart = Model.Carikarts.FirstOrDefault(c => c.Id == item.CariKartId);
						var stok = Model.Stoks.FirstOrDefault(s => s.Id == item.StokId);
						var cariislem = Model.Cariislems.FirstOrDefault(x => x.HisseCariKartId == item.Id);
						<tr>
							<td>@item.Id</td>
							<td>@(cariKart != null ? cariKart.AdSoyad : "")</td>
							<td>@(cariKart != null ? cariKart.Telefon : "")</td>
							<td>@(stok != null ? stok.Kilo.ToString("0.##") : "") KG</td>
							<td><span class="badge bg-label-success me-1">@(cariislem != null ? cariislem.Borc.ToString("0.##") : "") ₺</span></td>
							<td><span class="badge bg-label-danger me-1">@(cariislem != null ? cariislem.Alacak.ToString("0.##") : "") ₺</span></td>
							<td><a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id')">Sil</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	function confirmDelete(itemId) {
		swal({
			title: "Emin misiniz?",
			text: "Bu işlemi geri alamazsınız!",
			icon: "warning",
			buttons: ["İptal", "Sil"],
			dangerMode: true,
		})
			.then((confirmed) => {
				if (confirmed) {
					window.location.href = "/Kurbanlik/HissedarSil/" + itemId;
				}
			});
	}
</script>

