@using EntityLayer.Concrete
@model CariStokModel

<table class="table table-sm">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Hisse Adet</th>
            <th>Hisse Fiyat</th>
            <th>Kilo</th>
            <th>Yaş</th>
            <th>Küpe No</th>
            <th>Cins</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stoks)
        {
            <tr>
                <td>@item.Ad</td>
                <td class="hisseAdet">@Model.Hissecarikarts.Where(c=>c.StokId == item.Id).ToList().Count() / @item.HisseAdet</td>
                <td>@item.HisseFiyat.ToString("0.##") TL</td>
                <td>@item.Kilo.ToString("0.##") KG</td>
                <td>@item.Yas</td>
                <td>@item.KupeNo</td>
                <td>@item.Cins</td>
            </tr>
            <input type="hidden" name="HisseTutar" value="@item.HisseFiyat" />
            <input type="hidden" name="Borc" value="@item.HisseFiyat" />
        }
    </tbody>
</table>
<script>
    $('.carikaydet').click(function (event) {
        var hisseAdet = parseInt($(".hisseAdet").text().split("/")[0]);
        var maksimumHisseAdet = parseInt($(".hisseAdet").text().split("/")[1]);

        if (hisseAdet >= maksimumHisseAdet) {
            event.preventDefault(); // Formun submit işlemini engelle
            Swal.fire({
                icon: 'error',
                title: 'Hata',
                text: 'Bu kurban için daha fazla hisse alınamaz',
                confirmButtonText: 'Tamam'
            });
            return false;
        }
    });
</script>
