@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Kurbanlık Sayısı</span>
                <h3 class="card-Title mb-2">@ViewBag.stok</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Cari Sayısı</span>
                <h3 class="card-Title mb-2">@ViewBag.cari</h3>
            </div>
        </div>
    </div>
</div>
<div class="row"> 
     <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Toplam Hisse Sayısı</span>
                <h3 class="card-Title mb-2">@ViewBag.toplamhisseadet</h3>
            </div>
        </div>
    </div> <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Toplam Boş Hisse Sayısı </span>
                <h3 class="card-Title mb-2">@ViewBag.toplamBosHisse</h3>

            </div>
        </div>
    </div> <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Toplam Dolu Hisse Sayısı</span>
                <h3 class="card-Title mb-2">@ViewBag.toplamDolanHisse</h3>
            </div>
        </div>
    </div>
</div>


